# Selecting Data points relevant to you quickly and effectively with pandas

1. Reading data

In [479]:
import pandas as pd
import numpy as np
import math
# data : www.kaggle.com/datasets/brijbhushannanda1979/bigmart-sales-data?select=Train.csv

In [480]:
data = pd.read_csv('./sales.csv',header=0)

In [481]:
# View first 5 elements with head function
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

### 2 ways to acess property or field

In [482]:
# 1
data.Item_Type

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object

In [483]:
# 2
data['Item_Type']

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object

# Indexing in pandas

Pandas indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data. iloc follows this paradigm.

In [484]:
# selecting first row values : returns a panda series

s_1 = data.iloc[:3]
print('Type : ' ,type(s_1))

Type :  <class 'pandas.core.frame.DataFrame'>

In [485]:
s_1.loc[:2]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [486]:
# let's select the first 10 item's type , year , outlet type 
data.iloc[:10, [4,7,8]] # remember "10" is not included in the range

               Item_Type  Outlet_Establishment_Year Outlet_Size
0                  Dairy                       1999      Medium
1            Soft Drinks                       2009      Medium
2                   Meat                       1999      Medium
3  Fruits and Vegetables                       1998         NaN
4              Household                       1987        High
5           Baking Goods                       2009      Medium
6            Snack Foods                       1987        High
7            Snack Foods                       1985      Medium
8           Frozen Foods                       2002         NaN
9           Frozen Foods                       2007         NaN

#### Negative numbers can be used in selection

In [487]:
# let's get the last 10 
data.iloc[-10:, [4,7,8]]

               Item_Type  Outlet_Establishment_Year Outlet_Size
8513                Meat                       2004       Small
8514              Canned                       2002         NaN
8515        Baking Goods                       2009      Medium
8516              Others                       2009      Medium
8517        Frozen Foods                       1997       Small
8518         Snack Foods                       1987        High
8519        Baking Goods                       2002         NaN
8520  Health and Hygiene                       2004       Small
8521         Snack Foods                       2009      Medium
8522         Soft Drinks                       1997       Small

### Label based selection
In this paradigm, it's the data index value, not its position, which matters.

Both loc and iloc are row-first, column-second.

In [488]:
# let's select the first 11 item's type , year , outlet type 
data.loc[:10, ['Item_Type' , 'Outlet_Establishment_Year' , 'Outlet_Size']] # remember in Loc "10" is included

                Item_Type  Outlet_Establishment_Year Outlet_Size
0                   Dairy                       1999      Medium
1             Soft Drinks                       2009      Medium
2                    Meat                       1999      Medium
3   Fruits and Vegetables                       1998         NaN
4               Household                       1987        High
5            Baking Goods                       2009      Medium
6             Snack Foods                       1987        High
7             Snack Foods                       1985      Medium
8            Frozen Foods                       2002         NaN
9            Frozen Foods                       2007         NaN
10  Fruits and Vegetables                       1999      Medium

### You can use specific column as an index

In [489]:
# we will index data by the year's column
data.set_index('Outlet_Establishment_Year')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
1987,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
2002,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
2004,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
2009,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
1997,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

# Conditional selection

select values from one column when it meets condition

In [490]:
# Select data in year 1987
data.Outlet_Establishment_Year == 1987

0       False
1       False
2       False
3       False
4        True
        ...
8518     True
8519    False
8520    False
8521    False
8522    False
Name: Outlet_Establishment_Year, Length: 8523, dtype: bool

This operation produced a Series of True/False booleans

In [491]:
data.loc[data.Outlet_Establishment_Year == 1987]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

## We can use the ampersand (&) to add more conditions

In [492]:
# get data in 2002  with low fat

data.loc[(data.Outlet_Establishment_Year == 2002)&(data.Item_Fat_Content == 'Low Fat')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972
56,NCX54,9.195,Low Fat,0.048157,Household,106.1622,OUT045,2002,NaN,Tier 2,Supermarket Type1,2117.2440
68,DRH37,17.600,Low Fat,0.041701,Soft Drinks,164.8526,OUT045,2002,NaN,Tier 2,Supermarket Type1,2302.3364
...,...,...,...,...,...,...,...,...,...,...,...,...
8468,FDB20,7.720,Low Fat,0.052086,Fruits and Vegetables,76.8986,OUT045,2002,NaN,Tier 2,Supermarket Type1,467.3916
8474,NCJ42,19.750,Low Fat,0.014330,Household,104.2332,OUT045,2002,NaN,Tier 2,Supermarket Type1,2153.1972
8476,NCO41,12.500,Low Fat,0.018887,Health and Hygiene,98.8384,OUT045,2002,NaN,Tier 2,Supermarket Type1,1280.9992
8483,DRI11,8.260,Low Fat,0.034474,Hard Drinks,117.0834,OUT045,2002,NaN,Tier 2,Supermarket Type1,1612.5676
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688

In [493]:
# exclude data from 2000  until now 
data.loc[data.Outlet_Establishment_Year.isin((data.loc[data.Outlet_Establishment_Year >= 2000]).Outlet_Establishment_Year)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
...,...,...,...,...,...,...,...,...,...,...,...,...
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [494]:
# exclude lowfat and regular data
data.loc[data.Item_Fat_Content.isin(['Regular','Low Fat'])]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [495]:
# Get not null data in column outlet size 
data.loc[data.Outlet_Size.notnull()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [496]:
# Highlight null or not nan data in outlet size
data.loc[data.Outlet_Size.isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

# Summary functions

In [497]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [498]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 566.0+ KB

## Unique values

In [499]:
data.Item_Type.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

## Map and apply

In [500]:
data.Item_MRP

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [501]:
# we will map the Item_MRP values with precision (2)
data.Item_MRP.map(lambda p : round(p,2))
data.Item_MRP

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [502]:
#Assume we decreased prices by 10% , Use Apply function to apply discount on every price
# Where you can apply function specifically to columns
def discount(price):
    price = price - (price * 0.1)
    return price

data.Item_MRP = data.Item_MRP.apply(discount)
data.Item_MRP

0       224.82828
1        43.44228
2       127.45620
3       163.88550
4        48.47526
          ...
8518    193.06962
8519     97.34130
8520     76.61016
8521     92.81988
8522     67.92030
Name: Item_MRP, Length: 8523, dtype: float64

# Grouping , Aggregating and Sorting

1. Value Counts and alternative

In [503]:
data.groupby('Item_Fat_Content').Item_Fat_Content.count()

Item_Fat_Content
LF          316
Low Fat    5089
Regular    2889
low fat     112
reg         117
Name: Item_Fat_Content, dtype: int64

In [504]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [505]:
# Get min and max weight foreach item type 
data.groupby('Item_Type').Item_Weight.agg([ min, max])

                         min    max
Item_Type
Baking Goods           4.880  20.85
Breads                 4.635  20.85
Breakfast              6.425  21.10
Canned                 4.615  21.35
Dairy                  4.805  20.70
Frozen Foods           4.555  20.85
Fruits and Vegetables  5.460  21.35
Hard Drinks            4.610  19.70
Health and Hygiene     5.175  21.25
Household              5.030  21.25
Meat                   5.150  21.25
Others                 5.500  20.50
Seafood                5.365  20.75
Snack Foods            5.095  21.25
Soft Drinks            4.590  20.75
Starchy Foods          6.695  21.20

In [506]:
# First : groupby item type then by it's fat content  
d = data.groupby(['Item_Type','Item_Fat_Content']).Item_Weight.agg([min, max])

In [507]:
fil = data.Item_Type =='Baking Goods'
data.loc[fil].Item_Fat_Content.value_counts()

Regular    306
Low Fat    301
LF          20
reg         13
low fat      8
Name: Item_Fat_Content, dtype: int64

In [508]:
content = data.groupby('Item_Fat_Content')
content.get_group('Low Fat').Item_Weight.value_counts()

12.150    64
17.600    50
9.300     50
18.850    47
18.250    45
          ..
5.210      2
7.685      1
5.825      1
6.520      1
5.400      1
Name: Item_Weight, Length: 338, dtype: int64

##  reset_index()
### in pandas is used to reset index of the dataframe object to default indexing (0 to number of rows minus 1) or to reset multi level index(easier to select items and attributes)

In [509]:
d.reset_index()[:10]

      Item_Type Item_Fat_Content    min    max
0  Baking Goods               LF  4.920  20.60
1  Baking Goods          Low Fat  4.920  20.85
2  Baking Goods          Regular  4.880  20.85
3  Baking Goods          low fat  7.445  14.10
4  Baking Goods              reg  6.630  20.85
5        Breads               LF  9.300  17.85
6        Breads          Low Fat  4.635  19.50
7        Breads          Regular  5.035  20.85
8        Breads          low fat  6.440  17.10
9        Breads              reg  7.720   8.60

In [510]:
d.sort_values(by='max', ascending=True)

                                           min    max
Item_Type             Item_Fat_Content
Breads                reg                7.720   8.60
Breakfast             reg                7.895  10.60
Soft Drinks           reg               13.000  13.00
Baking Goods          low fat            7.445  14.10
Starchy Foods         low fat           14.150  14.15
...                                        ...    ...
Household             Low Fat            5.030  21.25
                      LF                 5.820  21.25
Health and Hygiene    Low Fat            5.175  21.25
Canned                Low Fat            4.905  21.35
Fruits and Vegetables Low Fat            5.655  21.35

[70 rows x 2 columns]

In [511]:
d.sort_index()

                                   min    max
Item_Type     Item_Fat_Content
Baking Goods  LF                 4.920  20.60
              Low Fat            4.920  20.85
              Regular            4.880  20.85
              low fat            7.445  14.10
              reg                6.630  20.85
...                                ...    ...
Starchy Foods LF                12.150  20.50
              Low Fat            6.695  20.85
              Regular            7.060  21.20
              low fat           14.150  14.15
              reg                7.060  19.20

[70 rows x 2 columns]

# Percentages

In [512]:
data.Item_Type.value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [513]:
types = data.groupby('Item_Type')
snack_food = types.get_group('Snack Foods')
# get percentage of every fat content in snack food 
snack_food['Item_Fat_Content'].value_counts(normalize=True).apply(lambda a : str(round(a*100,2))+'%')

Low Fat    53.75%
Regular    40.42%
LF          2.58%
reg         1.92%
low fat     1.33%
Name: Item_Fat_Content, dtype: object

In [514]:
types.median()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Type,,,,,
Baking Goods,11.650,0.058725,101.11896,1999,1577.9460
Breads,10.600,0.055873,116.21790,1999,1860.2452
Breakfast,10.695,0.068893,139.82670,1999,1554.6430
Canned,12.150,0.050786,126.13464,1999,1860.2452
Dairy,13.350,0.063220,132.78645,1999,1650.8511
Frozen Foods,12.850,0.056495,115.78446,1999,1687.1372
Fruits and Vegetables,13.100,0.054126,130.98996,1999,1830.9500
Hard Drinks,10.100,0.059335,130.44996,1999,1816.6353
Health and Hygiene,12.150,0.044739,115.23141,1999,1669.4935
Household,13.150,0.044997,137.98638,1999,1981.4208
Meat,12.350,0.044526,131.91606,1999,1829.6184
Others,14.500,0.047198,117.83556,1999,1713.7692
Seafood,11.650,0.054501,142.70436,1999,2055.3246
Snack Foods,13.150,0.053992,132.00606,1999,1944.1360
Soft Drinks,11.800,0.049156,129.60918,1999,1518.0240
Starchy Foods,13.175,0.060466,150.24078,1999,1968.1048

## Contains

In [515]:
# find all identifiers that starts with FD
data.Item_Identifier.str.contains('FD')

0        True
1       False
2        True
3        True
4       False
        ...
8518     True
8519     True
8520    False
8521     True
8522    False
Name: Item_Identifier, Length: 8523, dtype: bool

In [516]:
data.Item_Identifier.str.contains('FD').sum()

6125

# Dtypes
use it to know the dtypes for every column or grab the type of a specific column.

In [517]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [518]:
data.Item_Weight.dtype

dtype('float64')

## You would find that  'Item_Identifier' is of type object  , Let's convert it to string "str"

In [519]:
# check for missing values
data.Item_Identifier.isna().sum()

0

In [520]:
data.Item_Identifier.astype('str')

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [521]:
type(data.Item_Identifier[1]) # but the whole column still an object type

str

In [522]:
data.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

## You would find that Low fat exist in 3 values ('Low Fat' , 'LF' , 'low fat') , Let's correct that with replace and the same for Regular values

In [523]:
data.Item_Fat_Content.replace('LF','Low Fat',inplace=True)
data.Item_Fat_Content.replace('low fat','Low Fat',inplace=True)

In [524]:
data.Item_Fat_Content.replace('reg','Regular',inplace=True)

In [525]:
data.Item_Fat_Content.value_counts() #  let's do the same for Regular

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

# Renaming

### rename() :  lets you change index names and/or column names.

In "Item_MRP" column  ,'MRP' may be anonymous for some people let's make it more clear

In [526]:
data.rename(columns={'Item_MRP' : 'Item_Max_Retail_Price'},inplace=True)
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_Max_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,224.82828,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,43.44228,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,127.45620,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,163.88550,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,48.47526,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,193.06962,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,97.34130,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,76.61016,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,92.81988,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,67.92030,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [527]:
# Rename rows
data.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_Max_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
firstEntry,FDA15,9.300,Low Fat,0.016047,Dairy,224.82828,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
secondEntry,DRC01,5.920,Regular,0.019278,Soft Drinks,43.44228,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,127.45620,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,163.88550,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,48.47526,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,193.06962,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,97.34130,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,76.61016,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,92.81988,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,67.92030,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700